<p id="notice"><%= notice %></p>  
<p>  
 <strong>Name:</strong>  
 <%= @sale.name %>  
</p>  
<%= link_to 'Edit', edit_sale_path(@sale) %> |  
<%= link_to 'Back', sales_path %>  
<h1>Listing Item</h1>  
<table class="table table-striped">  
 <thead>  
  <tr>  
   <th>Product</th>  
   <th>price</th>  
   <th>quantity</th>  
   <th>total</th>  
   <th></th>  
  </tr>  
 </thead>  
 <tbody>  
  <% @sale.items.each do |item| %>  
   <tr>  
    <td><%= item.product.name %></td>  
    <td><%= item.product.price %></td>  
    <td><%= item.quantity %></td>  
    <td><%= item.total %></td>  
   </tr>  
  <% end %>  
 </tbody>  
</table>  
<hr>  
 <p> Total </p>  
 <%= @sale.total%>  
<hr>  